.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

img#camera-feed {
    /* these values should ideally reflect the resolution
    at which the camera is streaming images at */
    height: 480px;
    width: 640px;
}
