.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotateimgccw {
  -webkit-transform:rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.rotateimgcw {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.stretch-down {
  margin-bottom: 100px;
}


.camera-head {
    margin:5px;
}

.camera-btn {
    border-style: solid;
    border-width: thick;
}

.camera-btn {
    padding: 10px;
}

.camera-label {
    padding: 10px;
}

.camera-rotr {
    transform: scaleX(-1);
}

.camera-name {
  text-align: center;
}
