.container {
    height: 100%;
    min-height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.map {
    height: 100vh;
    min-height: 100vh;
}

.auto-ctrl-grp, .manual-ctrl-grp {
    border-collapse: collapse;
    border-spacing: 0;
}

.auto-ctrl-grp td, .manual-ctrl-grp td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    border-style: none;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
}

.auto-ctrl-grp th, .manual-ctrl-grp th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    text-align: center;
}

}

.row, .row>* {
    border: 0px solid #05072f;
}

.round-btn {
    width: 80px;
    height: 80px;
}

.rect-btn {
    width: 80px;
    height: 80px;
}

.rect-btn:hover, .rect-btn:hover, #logs-btn button:hover {
    color: white;
}

}

.control-btn-left {
    border-radius: 10px 0 0 10px;
}

.control-btn-right {
    border-radius: 0 10px 10px 0;
}

.control-btn-mid {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

.container-header, thead {
    font-weight: bolder;
    text-align: center;
}

#motor-table thead th, .auto-ctrl-grp tr:first-child {
    text-align: center;
    vertical-align: middle
}

#motor-table, #motor-table tr td {
    text-align: center
}

.control-main-btn {
    border-top-style: none;
    border-left-style: none;
    margin-bottom: 5px;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

#arm-position {
    weight:390px;
    height:280px;
}

textarea#write-to-log {
    min-width: 100%;
    min-height: 450px;
}

input#serial-cmd-input {
    margin: 4px;
    width: 100%;
}

.control-panel {
  width:500px;
}

.fa-3x {
  width: 70px !important;
  height: 55px !important;
  vertical-align: bottom !important;
  border-radius: 5px !important;
  padding-bottom:100px;
}
