html, body {
    height: 100%;
    background-color: black;
}

.container {
    height: 100%;
    min-height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.map {
    height: 100vh;
    min-height: 100vh;
}

.auto-ctrl-grp, .manual-ctrl-grp {
    border-collapse: collapse;
    border-spacing: 0;
}

.auto-ctrl-grp td, .manual-ctrl-grp td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    border-style: none;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
    border-color: #990000;
}

.auto-ctrl-grp th, .manual-ctrl-grp th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #990000;
    text-align: center;
}

.auto-ctrl-grp tr:last-child {
    border-bottom: 0px inset #05072F;
    color: #6768a1;
    font-weight: bold;
    background-color: #101148;
}

.row, .row>* {
    border: 0px solid #05072f;
}

.round-btn {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.rect-btn {
    width: 60px;
    height: 40px;
}

.square-btn {
    width: 60px;
    height: 60px;
}

.control-btn-left {
    border-radius: 10px 0 0 10px;
}

.control-btn-right {
    border-radius: 0 10px 10px 0;
}

.control-btn-mid {
    width: 80px;
    height: 80px;
}

.container-header, thead {
    color: #092b43;
    font-weight: bolder;
    text-align: center;
}

#motor-table thead th, .auto-ctrl-grp tr:first-child {
    text-align: center;
    vertical-align: middle
}

.control-main-btn {
    border-top-style: none;
    border-left-style: none;
    margin-bottom: 5px
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#arm-position {
    width: 390px;
    height: 280px;
}

textarea#write-to-log {
    min-width: 100%;
    min-height: 450px;
}

.btn-circle {
    width: 15px;
    height: 8px;
    padding: 6px 0px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

textarea#rover-log {
    min-width: 100%;
    min-height: 450px;
}

.speed-throttle-control {
    color: white;
}

.imageWrapper {
  position: relative;
}

.overlayGpsDot {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
