<launch>
  <!--send colllarm urdf to param server -->
  <param name="robot_description" textfile="$(find colllarm)/urdf/colllarm.urdf" />
  <param name="use_gui" type="bool" value="true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
