<tr>
  <td>
    <button title="Homing" id="homing-button" type="button" class="btn btn-primary btn-md">
      <strong>Homing</strong>
    </button>
  </td>
</tr>
<tr>
  <td>
    <button title="Reset memorized angle values" id="reset-motor-angles" type="button" class="btn btn-primary btn-md">
      <strong>Reset angles (O)</strong>
    </button>
  </td>
</tr>
<tr>
  <td>
    <button type="button" id="arm-speed-multiplier-btn" class="btn btn-primary btn-md">Send speed multiplier</button>
    <input type="text" id="arm-speed-multiplier-input" value="1" size="3">
  </td>
</tr>
