<!-- Manual controls section -->
<table class="manual-ctrl-grp" style="display: none;" id="ArmcontrolsON" align="center">

    <!-- First row: Motors names -->
    <tr>

      <td>
          <button type="button" class="arm-control-btn" disabled>
              <strong>M1 Shoulder left/right</strong>
          </button>
      </td>

      <td>
          <button type="button" class="arm-control-btn" disabled>
              <strong>M2 Shoulder up/down</strong>
          </button>
      </td>

      <td>
          <button type="button" class="arm-control-btn" disabled style="margin-right: 100px;">
              <strong>M3 Elbow up/down</strong>
          </button>
      </td>



      <td>
          <button type="button" class="arm-control-btn" disabled>
              <strong>M4 Wrist up/down</strong>
          </button>
      </td>

      <td>
          <button type="button" class="arm-control-btn" disabled>
              <strong>M5 Wrist Screw out/in</strong>
          </button>
      </td>

      <td>
          <button type="button" class="arm-control-btn" disabled>
              <strong>M6 Gripper open/close</strong>
          </button>
      </td>



      <!-- Second row: Controls from W to U-->
      <tr>

      <td>

          <a href="javascript:void(0)" id="click_btn_motor1_ccw">
              <button type="button" class="rect-btn control-btn-left fa fa-rotate-left fa-3x"> W </button>
          </a>
      </td>

      <td>
          <a href="javascript:void(0)" id="click_btn_motor2_ccw">
              <button type="button" class="rect-btn control-btn-up fa fa-chevron-up fa-3x"> E </button>
          </a>
      </td>

      <td>
          <a href="javascript:void(0)" id="click_btn_motor3_ccw">
              <button type="button" class="rect-btn control-btn-up fa fa-chevron-up fa-3x"> R </button>
          </a>
      </td>

      <td>
          <a href="javascript:void(0)" id="click_btn_motor4_ccw">
              <button type="button" class="rect-btn control-btn-up fa fa-chevron-up fa-3x"> T </button>
          </a>
      </td>

      <td>
          <a href="javascript:void(0)" id="click_btn_motor5_ccw">
              <button type="button" class="rect-btn control-btn-left fa fa-rotate-left fa-3x"> Y </button>
          </a>
      </td>

      <td>
          <a href="javascript:void(0)" id="click_btn_motor6_ccw">
              <button type="button" class="rect-btn control-btn-left fa fa-expand fa-3x"> U </button>
          </a>
      </td>

      </tr>

      <!-- Third row: Controls from S to J -->
      <tr>

      <td>
          <a href="javascript:void(0)" id="click_btn_motor1_cw">
              <button type="button" class="rect-btn control-btn-right fa fa-rotate-right fa-3x"> S </button>
          </a>
      </td>

        <td>
            <a href="javascript:void(0)" id="click_btn_motor2_cw">
                <button type="button" class="rect-btn control-btn-down fa fa-chevron-down fa-3x"> D </button>
            </a>
        </td>

        <td>
            <a href="javascript:void(0)" id="click_btn_motor3_cw">
                <button type="button" class="rect-btn control-btn-down fa fa-chevron-down fa-3x"> F </button>
            </a>
        </td>

        <td>
            <a href="javascript:void(0)" id="click_btn_motor4_cw">
                <button type="button" class="rect-btn control-btn-down fa fa-chevron-down fa-3x"
                > G </button>
            </a>
        </td>

        <td>
            <a href="javascript:void(0)" id="click_btn_motor5_cw">
                <button type="button" class="rect-btn control-btn-right fa fa-rotate-right fa-3x"> H </button>
            </a>
        </td>

        <td>
            <a href="javascript:void(0)" id="click_btn_motor6_cw">
                <button type="button" class="rect-btn control-btn-right fa fa-compress fa-3x"> J </button>
            </a>
        </td>
      </tr>

    <tr> <!-- labels -->
      <th colspan="2" class="claw-controls2">
        <strong style = "margin-left: 50px">ARM CONTROLS</strong>
      </th>


      <th colspan="4" class = "arm-controls2">
        <strong style = "margin-left: 140px">CLAW CONTROLS</strong>
      </th>
    </tr>
</table>
