<!-- Automatic controls section -->
<table class="table-grp" style="display: block" id="ArmcontrolsOFF" align="center">
  <tr> <!-- first row -->
    <td></td>
    <td valign="bottom">
      <a href="javascript:void(0)" id="click_btn_pitch_up">
        <button type="button" class="control-btn">
          <strong>Pitch<br>Up</strong>
        </button>
      </a>
    </td>
    <td></td>
    <td style="width:30px"></td>
    <td></td>
    <td>
      <a href="javascript:void(0)" id="click_btn_arm_up">
        <button type="button" class="control-btn">
          <strong>Arm<br>Up</strong>
        </button>
      </a>
    </td>
    <td></td>
  </tr>
  <tr> <!-- second row -->
    <td>
      <a href="javascript:void(0)" id="click_btn_roll_left">
        <button type="button" class="control-btn">
          <strong>Roll<br>Left</strong>
        </button>
      </a>
    </td>
    <td>
      <a href="javascript:void(0)" id="click_btn_pitch_down">
        <button type="button" class="control-btn">
          <strong>Pitch<br>Down</strong>
        </button>
      </a>
    </td>
    <td>
      <a href="javascript:void(0)" id="click_btn_roll_right">
        <button type="button" class="control-btn">
          <strong>Roll<br>Right</strong>
        </button>
      </a>
    </td>
    <td></td>
    <td>
      <a href="javascript:void(0)" id="click_btn_arm_left">
        <button type="button" class="control-btn">
          <strong>Arm<br>Left</strong>
        </button>
      </a>
    </td>
    <td>
      <a href="javascript:void(0)" id="click_btn_arm_down">
        <button type="button" class="control-btn">
          <strong>Arm<br>Down</strong>
        </button>
      </a>
    </td>
    <td>
      <a href="javascript:void(0)" id="click_btn_arm_right">
        <button type="button" class="control-btn">
          <strong>Arm<br>Right</strong>
        </button>
      </a>
    </td>
  </tr>
  <tr> <!-- third row -->
    <td>
      <a href="javascript:void(0)" id="click_btn_claw_open">
        <button type="button" class="control-btn" style="margin-bottom:6px">
          <strong>Claw<br>Open</strong>
        </button>
      </a>
    </td>
    <td></td>
    <td>
      <a href="javascript:void(0)" id="click_btn_claw_close">
        <button type="button" class="control-btn" style="margin-bottom:6px">
          <strong>Claw<br>Close</strong>
        </button>
      </a>
    </td>
    <td></td>
    <td>
      <a href="javascript:void(0)" id="click_btn_arm_back">
        <button type="button" class="control-btn" style="margin-bottom:6px">
          <strong>Arm<br>Back</strong>
        </button>
      </a>
    </td>
    <td></td>
    <td>
      <a href="javascript:void(0)" id="click_btn_arm_forward">
        <button type="button" class="control-btn" style="margin-bottom:6px">
          <strong>Arm<br>Fwd</strong>
        </button>
      </a>
    </td>
  </tr>
  <tr> <!-- labels -->
      <th colspan="3">
        <strong>CLAW CONTROLS</strong>
      </th>
      <th style="width:30px; background:#990000; border:0px solid #990000"></th>
      <th colspan="3">
        <strong>ARM CONTROLS</strong>
      </th>
    </tr>
</table>
