<div class="camera-controls">
  <table align="center">
    <tr>
      <td><strong>Controls</strong></td>
      <td>
        <a class="camera-back-tilt-up-btn">
          <button type="button" class="rect-btn">
            &#8593;Tilt
          </button>
        </a>
      </td>
      <td>
        <span class="col-md-3" class="camera-tilt-pwm">-</span>
      </td>
      <td>
        <span class="col-md-3" class="camera-pan-pwm">-</span>
      </td>
    </tr>
    <tr>
        <td>
          <a id="camera-lpan-btn">
            <button type="button" class="rect-btn">
              LPan
            </button>
          </a>
        </td>
        <td>
          <a id="camera-tilt-down-btn">
            <button type="button" class="rect-btn">
              &#8595;Tilt
            </button>
          </a>
        </td>
        <td>
          <a id="camera-rpan-btn">
            <button type="button" class="rect-btn">
              RPan
            </button>
          </a>
        </td>
        <td>
          <a id="camera-home-btn">
            <button type="button" class="rect-btn">
              Home
            </button>
          </a>
        </td>
    </tr>
  </table>
</div>
