<div class="camera-controls" tilt="90" pan="90">
  <table align="center">
    <tr>
      <td><strong>Controls</strong></td>
      <td>
        <a class="camera-tilt-up">
          <button type="button" class="rect-btn">
            &#8593;Tilt
          </button>
        </a>
      </td>
      <td>
        <span class="col-md-3" class="camera-tilt-pwm">-</span>
      </td>
      <td>
        <span class="col-md-3" class="camera-pan-pwm">-</span>
      </td>
    </tr>
    <tr>
        <td>
          <a class="camera-pan-left">
            <button type="button" class="rect-btn">
              LPan
            </button>
          </a>
        </td>
        <td>
          <a class="camera-tilt-down">
            <button type="button" class="rect-btn">
              &#8595;Tilt
            </button>
          </a>
        </td>
        <td>
          <a class="camera-pan-right">
            <button type="button" class="rect-btn">
              RPan
            </button>
          </a>
        </td>
        <td>
          <a class="camera-home">
            <button type="button" class="rect-btn">
              Home
            </button>
          </a>
        </td>
    </tr>
  </table>
</div>
