<!-- DRILL CONTROLS -->
<h5 class="container-header">Drill Control</h5>
<div class="row">
    <div class="col-md-4">
        <a href="javascript:void(0)">
            <button id="drill-max-speed-go-btn" type="button" class="btn btn-secondary">MAX SPEED GO</button>
        </a>
    </div>
    <div class="col-md-4">
        <a href="javascript:void(0)">
            <button id="drill-stop-btn" type="button" class="btn btn-secondary">DRILL STOP</button>
        </a>
    </div>
    <div class="col-md-3">
        <a href="javascript:void(0)">
            <button id="drill-cw-btn" type="button" class="btn btn-secondary">CW</button>
        </a>
        <a href="javascript:void(0)">
            <button id="drill-ccw-btn" type="button" class="btn btn-secondary">CCW</button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label id="drill-speed-label" for="usr"><strong>Speed (%):</strong></label>
        <input id="drill-speed" type="text" class="form-control">
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label id="drill-time-label" for="usr"><strong>Time (s):</strong></label>
            <input id="drill-time" type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label><strong>Drill RPM:</strong></label>
            <input id="drill-rpm" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="col-md-3">
            <span>
                <strong>Activate Listener</strong>
            </span>
            <div class="form-check checkbox-slider--a checkbox-slider-lg" align="center">
                <label>
                    <input id="science-listener-btn" type="checkbox">
                    <span> </span>
                </label>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="javascript:void(0)">
            <button id="set-speed-go-btn" type="button" class="btn btn-secondary">SET SPEED GO</button>
        </a>
    </div>
    <div class="col-md-3">
        <a href="javascript:void(0)">
            <button id="set-time-go-btn" type="button" class="btn btn-secondary">SET TIME GO</button>
        </a>
    </div>
</div>
