<!-- ELEVATOR CONTROLS -->
<h5 class="container-header">Elevator</h5>
<div class="row">
    <div class="col-md-4">
        <a href="javascript:void(0)">
            <button id="elevator-max-speed-go-btn" type="button" class="btn btn-secondary">MAX SPEED GO</button>
        </a>
    </div>
    <div class="col-md-4">
        <a href="javascript:void(0)">
            <button id="elevator-stop-btn" type="button" class="btn btn-secondary">ELEVATOR STOP</button>
        </a>
    </div>
    <div class="col-md-3">
        <a href="javascript:void(0)">
            <button id="elevator-up-btn" type="button" class="btn btn-secondary">UP</button>
        </a>
        <a href="javascript:void(0)">
            <button id="elevator-down-btn" type="button" class="btn btn-secondary">DOWN</button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label id="elevator-feed-label" for="usr"><strong>Feed (%):</strong></label>
        <input id="elevator-feed" type="text" class="form-control">
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label id="elevator-distance-label" for="usr"><strong>Distance (inch):</strong></label>
            <input id="elevator-distance" type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="usr"><strong>Elevator Feed %:</strong></label>
            <input id="elevator-feed-percent" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="col-md-3">
            <span>
                <strong>Activate Controls</strong>
            </span>
            <div class="form-check checkbox-slider--a checkbox-slider-lg" align="center">
                <label>
                    <input id="activate-science-btn" type="checkbox">
                    <span> </span>
                </label>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="javascript:void(0)">
            <button id="set-feed-go-btn" type="button" class="btn btn-secondary">SET FEED GO</button>
        </a>
    </div>
    <div class="col-md-3">
        <a href="javascript:void(0)">
            <button id="set-distance-go-btn" type="button" class="btn btn-secondary">SET DIST. GO</button>
        </a>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label><strong>Table position:</strong></label>
            <input id="table-position" type="text" class="form-control" readonly>
        </div>
    </div>
</div>
