<div id="extra-controls" style="margin:50px">
  <table>
      <tr>
        <td>
          <button title="Flip stream" id="flip-stream" type="button" class="btn btn-primary btn-md">
            <strong>Flip stream</strong>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button title="Flip stream" id="flip-stream-cw" type="button" class="btn btn-primary btn-md">
            <strong>Flip stream CW</strong>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button title="Flip stream" id="flip-stream-ccw" type="button" class="btn btn-primary btn-md">
            <strong>Flip stream CCW</strong>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button title="Save images" id="save-image" type="button" class="btn btn-primary btn-md">
            <strong>Save image</strong>
          </button>
        </td>
      </tr>
      <tr>
        <td>
            <button data-text-swap="Stop recording feed" title="Record video toggle" id="record-feed-toggle" type="button" class="btn btn-primary btn-md">
                <strong>Start recording feed</strong>
            </button>
        </td>
      </tr>
      <tr>
        <td>
          <button title="List all commands" id="list-all-cmds" type="button" class="btn btn-primary btn-md">
            <strong>List cmds (L)</strong>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button title="Stop all motors" id="stop-all-motors" type="button" class="btn btn-primary btn-md">
            <strong>STOP (Q)</strong>
          </button>
        </td>
      </tr>
    {% if device == "Arm" %}
      {% include 'elements/controls/ArmExtraControls.html' %}
    {% endif %}
  </table>
</div>
