<h4 class="container-header">Pump Control</h4>
<table class="table table-sm">
    <tbody>
        <tr>
            <td>
                <span>
                    <strong>PUMP 1</strong>
                </span>
                <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
                    <label>
                        <input id="pump1-drive-toggle" type="checkbox">
                        <span> </span>
                    </label>
                </div>
            </td>
            <td>
                <span>
                    <strong>PUMP 2</strong>
                </span>
                <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
                    <label>
                        <input id="pump2-drive-toggle" type="checkbox">
                        <span> </span>
                    </label>
                </div>
            </td>
            <td>
                <span>
                    <strong>PUMP 3</strong>
                </span>
                <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
                    <label>
                        <input id="pump3-drive-toggle" type="checkbox">
                        <span> </span>
                    </label>
                </div>
            </td>
            <td>
                <span>
                    <strong>PUMP 4</strong>
                </span>
                <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
                    <label>
                        <input id="pump4-drive-toggle" type="checkbox">
                        <span> </span>
                    </label>
                </div>
            </td>
            <td>
                <span>
                    <strong>PUMP 5</strong>
                </span>
                <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
                    <label>
                        <input id="pump5-drive-toggle" type="checkbox">
                        <span> </span>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    <strong id="pump-dir-label">DIR: -</strong>
                </span>
                <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
                    <label>
                        <input id="pump-dir-toggle" type="checkbox">
                        <span> </span>
                    </label>
                </div>
            </td>
    </tbody>
</table>
