<h4 class="container-header">LEDs & Vibrators</h4>
<div class="row">
    <div class="col-md-3">
        <span>
            <strong>LED 1</strong>
        </span>
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="right">
            <label>
                <input id="led1-toggle" type="checkbox">
                <span> </span>
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <span>
            <strong>LED 2</strong>
        </span>
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="right">
            <label>
                <input id="led2-toggle" type="checkbox">
                <span> </span>
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label id="photo-resistor-voltage-label" for="usr"><strong>PR Voltage:</strong></label>
            <input id="photo-resistor-voltage" type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span>
            <strong>VIBRATOR 1</strong>
        </span>
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="right">
            <label>
                <input id="vibrator1-toggle" type="checkbox">
                <span> </span>
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <span>
            <strong>VIBRATOR 2</strong>
        </span>
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="right">
            <label>
                <input id="vibrator2-toggle" type="checkbox">
                <span> </span>
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <span>
            <strong>VIBRATOR 3</strong>
        </span>
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="right">
            <label>
                <input id="vibrator3-toggle" type="checkbox">
                <span> </span>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span>
            <strong>VIBRATOR 4</strong>
        </span>
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="right">
            <label>
                <input id="vibrator4-toggle" type="checkbox">
                <span> </span>
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <span>
            <strong>VIBRATOR 5</strong>
        </span>
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="right">
            <label>
                <input id="vibrator5-toggle" type="checkbox">
                <span> </span>
            </label>
        </div>
    </div>
    <div class="col-md-3">
        <span>
            <strong>VIBRATOR 6</strong>
        </span>
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="right">
            <label>
                <input id="vibrator6-toggle" type="checkbox">
                <span> </span>
            </label>
        </div>
    </div>
</div>
