
<div id="rover-stats">
    <h4 align="center">Rover data</h4>
    <ul class="list-group" id="rover-stats-list">
        <div class="row px-3">
            <li class="list-group-item col-md-6"><label>Latitude</label><span id="rover-latitude" class="float-right">----</span></li>
            <li class="list-group-item col-md-6"><label>Longitude</label><span id="rover-longitude" class="float-right">----</span></li>
        </div>
        <li class="list-group-item"><label>Heading</label><span id="rover-heading" class="float-right">----</span></li>
        <li class="list-group-item"><label>Speed</label> <span id="rover-speed" class="float-right">----</span></li>
        <li class="list-group-item"><label>Angular Velocity</label> <span id="rover-angular-velocity" class="float-right">----</span></li>

    </ul>
</div>

<div id="antenna-stats-list">
    <hr>
    <h4 align="center">Antenna data</h4>
    <ul class="list-group" id="antenna-stats-list">
        <div class="row px-3">
            <li class="list-group-item col-md-6"><label>Latitude</label><span id="antenna-stats-latitude" class="float-right">----</span></li>
            <li class="list-group-item col-md-6"><label>Longitude</label><span id="antenna-stats-longitude" class="float-right">----</span></li>
        </div>
        <li class="list-group-item">
            <label"> Antenna Heading</label><span id="antenna-stats-heading" class="float-right">----</span>
        </li>
        <li class="list-group-item"><label>Distance to Rover</label> <span id="antenna-stats-dist-to-rover" class="float-right">----</span></li>
        <li class="list-group-item"><label> Recommended Antenna Angle</label> <span id="antenna-stats-rec-angle" class="float-right">----</span></li>
    </ul>
</div>
<button id="open-antenna-modal-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#antenna-modal">Antenna Data</button>

<div class="modal fade" id="antenna-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Antenna Menu</h4>
            </div>
            <div class="modal-body" id="antenna-modal-body">
                <fieldset id="antenna-latitude-fieldset">
                    <div id="antenna-select-latitude-format">
                        <button type="button" id="antenna-select-latitude-format-btn" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">Select Latitude Format</button>
                        <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"></li>
                            <li><button id="antenna-latitude-DD-btn" class="btn btn-primary btn-sm">Decimal Degrees</button></li>
                            <li><button id="antenna-latitude-DDM-btn" class="btn btn-primary btn-sm">Degrees Decimal Minutes</button></li>
                            <li><button id="antenna-latitude-DMS-btn" class="btn btn-primary btn-sm">Degrees Minutes Seconds</button></li>
                        </ul>
                    </div>
                </fieldset>
                <hr>
                <fieldset id="antenna-longitude-fieldset">
                    <div id="antenna-select-longitude-format">
                        <button type="button" id="antenna-select-longitude-format-btn" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown">Select Longitude Format</button>
                        <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><button id="antenna-longitude-DD-btn" class="btn btn-primary btn-sm">Decimal Degrees</button></li>
                            <li><button id="antenna-longitude-DDM-btn" class="btn btn-primary btn-sm">Degrees Decimal Minutes</button></li>
                            <li><button id="antenna-longitude-DMS-btn" class="btn btn-primary btn-sm">Degrees Minutes Seconds</button></li>
                        </ul>
                    </div>
                </fieldset>
                <hr>
                <fieldset id="antenna-bearing-fieldset">
                    <div class="input-group" id="antenna-bearing-input-group">
                        <span class="input-group-text">Bearing</span>
                        <input id="antenna-bearing-input" type="text" class="form-control antenna-input-field" placeholder="Enter">
                        <button id="antenna-bearing-change-btn" class="btn btn-warning antenna-change-btn">Change</button>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button id="antenna-confirm-btn" type="button" class="btn btn-success">Confirm</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div id="goal-stats-list">
    <h4 align="center">Goals</h4>

    <ul class="list-group" id="goal-stats-list">
        <div class="row px-3">
            <li class="list-group-item col-md-6"><label for="goal-stats-latitude">Latitude</label><span id="goal-stats-latitude" class="float-right">----</span></li>
            <li class="list-group-item col-md-6"><label for="goal-stats-longitude">Longitude</label><span id="goal-stats-longitude" class="float-right">----</span></li>
        </div>
        <li class="list-group-item"><label for="goal-stats-distance">Distance to goal</label><span id="goal-stats-distance" class="float-right">----</span></li>
        <li class="list-group-item"><label for="goal-stats-rover-heading">Recommended Rover Heading</label><span id="goal-stats-rover-heading" class="float-right">----</span></li>
    </ul>
</div>

<button type="button" id="toggle-goal-modal-btn" class="btn btn-primary" data-toggle="modal" data-target="#goal-modal">Add Goal</button>

<div class="modal fade" id="goal-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="goal-modal-content">
            <div class="modal-header" id="goal-modal-header">
                <button id="new-goal-coordinates-btn" class="btn btn-primary">Add new coordinates</button>
            </div>
            <div class="modal-body" id="goal-modal-body">
                <div id="goal-modal-body-content">
                </div>
            </div>
        </div>
    </div>
</div>
