**/*.DS_Store
**/*.idea
**/*__pycache__/
**/*.pyc
**/*.pytest*
**/*.egg-info
**/*sh.exe.stackdump
**/*venv
**/*env
**/*.envrc
**/*stress-test-results_*
**/*node_modules
**/*configEthernet.log
**/*emailer.log
**/*rosRoverStart.log
**/*status_done
**/*build
**/*devel
**/*odroid_rx.txt
**/*tmp
**/*c_cpp_properties.json
**/*img*.jpg
**/*env.js
**/*currents_final.csv
**/*temps_final.csv
**/*voltage_final.csv
**/*rover_stream
**/*stream_images
**/*.swp
**/*emails.txt
**/*.dockerignore
**/*Dockerfile
**/*docker-compose.yml
**/*.a
robot/rover/Arm/CMakeLists.txt
robot/rover/Arm/Arm.ino.cpp
robot/rover/Arm/CMakeFiles
robot/rover/Arm/MakeFile
robot/rover/Arm/cmake_install.cmake
robot/rover/CMakeCache.txt
robot/rover/CMakeFiles
robot/rover/MakeFile
robot/rover/MobilePlatform/CMakeLists.txt
robot/rover/MobilePlatform/CMakeFiles
robot/rover/MobilePlatform/MakeFile
robot/rover/MobilePlatform/MobilePlatform.ino.cpp
robot/rover/MobilePlatform/cmake_install.cmake
robot/rover/PidController/CMakeLists.txt
robot/rover/PidController/CMakeFiles
robot/rover/PidController/MakeFile
robot/rover/PidController/PidController.ino.cpp
robot/rover/PidController/cmake_install.cmake
robot/rover/science/CMakeLists.txt
robot/rover/science/CMakeFiles
robot/rover/science/MakeFile
robot/rover/science/cmake_install.cmake
robot/rover/science/science.ino.cpp
robot/rover/cmake_install.cmake
