# Specify environment variables here in following format:
# `export <ENV_VAR_NAME>=<some-value>`

export TEST_VAR="test"

# ROS_MASTER_URI (UNCOMMENT ONLY ONE):
#export ROS_MASTER_URI=http://192.169.1.30:11311 # Competition IP
export ROS_MASTER_URI=http://127.0.0.1:11311 # Localhost IP