**/.DS_Store
**/.idea
**/*pycache*
**/*__pycache__
**/*.pyc
**/.pytest*
**/*.egg-info
**/*sh.exe.stackdump
**/venv
**/env
**/stress-test-results_*
**/node_modules
**/configEthernet.log
**/emailer.log
**/rosRoverStart.log
**/status_done
**/rospackages/build
**/rospackages/devel
**/odroid_rx.txt
**/tmp
