.DS_Store
.idea
*pycache*
*__pycache__
*.pyc
.pytest*
*.egg-info
*sh.exe.stackdump
venv
env
.envrc
stress-test-results_*
node_modules
configEthernet.log
emailer.log
rosRoverStart.log
status_done
build
devel
odroid_rx.txt
tmp
c_cpp_properties.json
img*.jpg
env.js
currents_final.csv
temps_final.csv
voltage_final.csv
rover_stream
stream_images
*.swp
emails.txt
robot/rover/Arm/CMakeLists.txt
robot/rover/MobilePlatform/CMakeLists.txt
robot/rover/PidController/CMakeLists.txt
robot/rover/science/CMakeLists.txt
package-lock.json
