<!-- The Rover GUI Html File -->
<!-- I'm sorry in advance, I'm rusty with HTML & CSS and this page may be a bit chaotic -->
<!-- If you got any questions, just ask Gabriel -->

<!doctype html>
<html lang="en">


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <title>Test Rover GUI</title>
      <style>

          body{width:90%}
      </style>
  </head>

<!-- Main Body of GUI Page-->
  <body>
<!-- Containers/FlexBox -->
  <div class="container">
  <div class="row"><!-- First Division -->

    <div class="col">
    </div>

    <div class="col">
        <!--Button for Home Position-->
        <button type="button" class="btn btn-primary">Home Position</button>
        <!-- Toggle Switch for Manual Control (on/off)-->
        <!-- Rounded switch -->
        <link rel="switch" href="../static/CSS/Rover_GUI_Style.css"><!-- verify file path -->
        <label class="switch">
        <input type="checkbox">
        <span class="slider round">Manual Control</span>
        </label>
        <hr/>
		<!-- go to base containers button -->
        <button type="button" class="btn btn-primary" onclick="location.href = '/BaseContainers';">Take me to Base Containers!</button><hr/>
        <button type="button" class="btn btn-info" onclick="location.href = '/BaseContainers2';">Take me to Base Containers 2!</button>
		

    </div>
  </div>

  <div class="row"><!-- Second Division -->
    <div class="col">
        <!-- Monitors -->
        <!-- Table that monitors the rover's multiple motors-->
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Status(Alive/Dead)</th>
                <th scope="col">Motor Position(Displacement)</th>
                <th scope="col">Motor Current(A)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Stepper Motor 1</th>
                <!-- add backend code to update status/motor position/motor current-->
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">DC Motor 2</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Stepper Motor 3</th>
                <td colspan="2"></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Stepper Motor 4</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Arm Servo Motor 1</th>
                <td colspan="2"></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Arm Servo Motor 2 </th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

      <div class="col">
          <!--Claw Controls-->
          <table class="table table-sm">
              <tr><!-- Header -->
                  <th scope="col">Claw Control</th>
              </tr>
              <tr>
                  <th scope="row"><!-- First Group of Buttons -->
                      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group" role="group" aria-label="First group">
                              <button type="button" class="btn btn-secondary">======</button>
                              <button type="button" class="btn btn-secondary">Pitch Up</button>
                              <button type="button" class="btn btn-secondary">=======</button>
                          </div>
                      </div>
                      <!-- Second Group of Buttons -->
                      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group" role="group" aria-label="First group">
                              <button type="button" class="btn btn-secondary">Roll Left</button>
                              <button type="button" class="btn btn-secondary">Pitch Down</button>
                              <button type="button" class="btn btn-secondary">Roll Right</button>
                          </div>
                      </div>
                      <!-- Third Group of Button -->
                      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group" role="group" aria-label="First group">
                              <button type="button" class="btn btn-secondary">Claw Open</button>
                              <button type="button" class="btn btn-secondary">=======</button>
                              <button type="button" class="btn btn-secondary">Claw Close</button>
                          </div>
                      </div>
                  </th>
                </tr>
          </table>
          <!-- End of Claw Control -->
      </div>

    <div class="col">
        <!-- Arm Controls -->
        <table class="table">
            <thead>
            <tr><!-- Header -->
                <th scope="col">Arm Control</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><!-- First Group of Button -->
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary"></button>
                            <button type="button" class="btn btn-secondary">Arm Up</button>
                            <button type="button" class="btn btn-secondary"></button>
                        </div>
                    </div>
                    <!-- Second Group of Button -->
                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">Arm Left</button>
                            <button type="button" class="btn btn-secondary">Arm Down</button>
                            <button type="button" class="btn btn-secondary">Arm Right</button>
                        </div>
                    </div>
                    <!-- Third Group of Button -->
                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary">Arm Back</button>
                            <button type="button" class="btn btn-secondary"></button>
                            <button type="button" class="btn btn-secondary">Arm Fwd</button>
                        </div>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
        <!-- End of Arm Control -->
    </div>
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


  </body>
</html>
