<launch>
  <node name="video0" pkg="cv_camera" type="cv_camera_node">
    <param name="device_id" value="1" />
    <param name="rate" value="5" />
  </node>
  <node name="video1" pkg="cv_camera" type="cv_camera_node">
    <param name="device_id" value="2" />
    <param name="rate" value="5" />
  </node>
  <node name="video2" pkg="cv_camera" type="cv_camera_node">
    <param name="device_id" value="3" />
    <param name="rate" value="5" />
  </node>
</launch>
