<h5 class="container-header">Motor Table</h5>
<table class="table table-sm table-bordered" id="motor-table" style="font-size:12px; background:#FDD3DF; text-align: left">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Motor<br>(Number)</th>
      <th scope="col">Status<br>(Alive/Dead)</th>
      <th scope="col">Position<br>(Degrees)</th>
      <th scope="col">Current<br>(A)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">M1 (Shoulder Swivel)</th>
      <!-- @TODO: add backend code to update status/motor current-->
      <td id="m1-status">N/A</td>
      <td id="m1-angle">-</td>
      <td id="m1-current">N/A</td>
    </tr>
    <tr>
      <th scope="row">M2 (Shoulder Flex)</th>
      <td id="m2-status">N/A</td>
      <td id="m2-angle">-</td>
      <td id="m2-current">N/A</td>
    </tr>
    <tr>
      <th scope="row">M3 (Elbow Flex)</th>
      <td id="m3-status">N/A</td>
      <td id="m3-angle">-</td>
      <td id="m3-current">N/A</td>
    </tr>
    <tr>
      <th scope="row">M4 (Wrist Flex)</th>
      <td id="m4-status">N/A</td>
      <td id="m4-angle">-</td>
      <td id="m4-current">N/A</td>
    </tr>
    <tr>
      <th scope="row">M5 (Wrist Twist)</th>
      <td id="m5-status">N/A</td>
      <td id="m5-angle">-</td>
      <td id="m5-current">N/A</td>
    </tr>
    <tr>
      <th>M6 (Gripper)</th>
      <td id="m6-status">N/A</td>
      <td id="m6-angle">-</td>
      <td id="m6-current">N/A</td>
    </tr>
  </tbody>
</table>
