<div class="row">
  <div class="col-md">
    <h5 class="container-header">Camera Tilt/Pan</h5>
  </div>
</div>
<div class="row">
  <table align="center">
  <tr>
    <td><strong>Front</strong></td>
    <td>
      <a id="camera-front-tilt-up-btn">
        <button type="button" class="control-btn2">
          &#8593;Tilt
        </button>
      </a>
    </td>
    <td>
      <span class="col-md-3" id="front-tilt-pwm">-</span>
    </td>
    <td>
      <span class="col-md-3" id="front-pan-pwm">-</span>
    </td>
  </tr>
  <tr>
      <td>
        <a id="camera-front-lpan-btn">
          <button type="button" class="control-btn2">
            LPan
          </button>
        </a>
      </td>
      <td>
        <a id="camera-front-tilt-down-btn">
          <button type="button" class="control-btn2">
            &#8595;Tilt
          </button>
        </a>
      </td>
      <td>
        <a id="camera-front-rpan-btn">
          <button type="button" class="control-btn2">
            RPan
          </button>
        </a>
      </td>
      <td>
        <a id="camera-front-home-btn">
          <button type="button" class="control-btn2">
            Home
          </button>
        </a>
      </td>
  </tr>
  </table>
</div>
<div class="row">
  <table align="center">
    <tr>
      <td><strong>Back</strong></td>
      <td>
        <a id="camera-back-home-btn">
          <button type="button" class="control-btn2">
            Home
          </button>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a id="camera-back-lpan-btn">
          <button type="button" class="control-btn2">
            LPan
          </button>
        </a>
      </td>
      <td>
        <a id="camera-back-rpan-btn">
          <button type="button" class="control-btn2">
            RPan
          </button>
        </a>
      </td>
      <td>
        <a id="camera-back-tilt-up-btn">
          <button type="button" class="control-btn2">
            &#8593;Tilt
          </button>
        </a>
      </td>
      <td>
        <a id="camera-back-tilt-down-btn">
          <button type="button" class="control-btn2">
            &#8595;Tilt
          </button>
        </a>
      </td>
    </tr>
  </table>
</div>
