<div id="extra-controls">
  <table>
    <tr>
      <th colspan="2">
      </th>
      <th style="width:30px; background:#990000; border:0px solid #990000">
        <strong>EXTRA CONTROLS</strong>
      </th>
    </tr>
    <tr>
      <td>
        <button title="Stop all motors" id="stop-all-motors" type="button" class="control-btn-mid" disabled>
          <strong>STOP<br>(Q)</strong>
        </button>
      </td>
      <td>
        <button title="Reset memorized angle values" id="reset-motor-angles" type="button" class="control-btn-mid" disabled>
          <strong>Reset angles<br>(O)</strong>
        </button>
      </td>
      <td>
        <button title="List all commands" id="list-all-cmds" type="button" class="control-btn-mid" disabled>
          <strong>List cmds<br>(L)</strong>
        </button>
      </td>
      <td>
        <input type="text" id="arm-speed-multiplier-input" value="1" size="3">
      </td>
      <td>
        <button type="button" id="arm-speed-multiplier-btn" class="btn btn-primary">Send speed<br>multiplier</button>
      </td>
    </tr>
  </table>
</div>
