<!-- Manual controls section -->
<table class="table-grp2" style="display: none;" id="ArmcontrolsON" align="center">
    <tr>
      <!-- motor 3 -->
        <td>
            <a href="javascript:void(0)" id="click_btn_motor3_ccw">
                <button type="button" class="control-btn2 control-btn-up fa fa-chevron-up fa-3x"></button>
            </a>
        </td>
        <td>
            <button type="button" class="control-btn-mid" disabled>
                <strong>M3 Elbow up/down</strong>
            </button>
        </td>
        <td>
            <a href="javascript:void(0)" id="click_btn_motor3_cw">
                <button type="button" class="control-btn2 control-btn-down fa fa-chevron-down fa-3x"></button>
            </a>
        </td>

        <td style="width:30px"></td>

        <!-- motor 4 -->
        <td>
            <a href="javascript:void(0)" id="click_btn_motor4_ccw">
                <button type="button" class="control-btn2 control-btn-up fa fa-chevron-up fa-3x"></button>
            </a>
        </td>
        <td>
            <button type="button" class="control-btn-mid" disabled>
                <strong>M4 Wrist up/down</strong>
            </button>
        </td>
        <td>
            <a href="javascript:void(0)" id="click_btn_motor4_cw">
                <button type="button" class="control-btn2 control-btn-down fa fa-chevron-down fa-3x"></button>
            </a>
        </td>
    </tr>
    <tr>
      <!-- motor 2 -->
      <td>
          <a href="javascript:void(0)" id="click_btn_motor2_ccw">
              <button type="button" class="control-btn2 control-btn-up fa fa-chevron-up fa-3x"></button>
          </a>
      </td>
      <td>
          <button type="button" class="control-btn-mid" disabled>
              <strong>M2 Shoulder up/down</strong>
          </button>
      </td>
      <td>
          <a href="javascript:void(0)" id="click_btn_motor2_cw">
              <button type="button" class="control-btn2 control-btn-down fa fa-chevron-down fa-3x"></button>
          </a>
      </td>

        <td></td>

        <!-- motor 5 -->
        <td>
            <a href="javascript:void(0)" id="click_btn_motor5_ccw">
                <button type="button" class="control-btn2 control-btn-left fa fa-rotate-left fa-3x"></button>
            </a>
        </td>
        <td>
            <button type="button" class="control-btn-mid" disabled>
                <strong>M5 Wrist Screw out/in</strong>
            </button>
        </td>
        <td>
            <a href="javascript:void(0)" id="click_btn_motor5_cw">
                <button type="button" class="control-btn2 control-btn-right fa fa-rotate-right fa-3x"></button>
            </a>
        </td>

    </tr>
    <tr>
      <!-- motor 1 -->
      <td>
          <a href="javascript:void(0)" id="click_btn_motor1_ccw">
              <button type="button" class="control-btn2 control-btn-left fa fa-rotate-left fa-3x"></button>
          </a>
      </td>
      <td>
          <button type="button" class="control-btn-mid" disabled>
              <strong>M1 Shoulder left/right</strong>
          </button>
      </td>
      <td>
          <a href="javascript:void(0)" id="click_btn_motor1_cw">
              <button type="button" class="control-btn2 control-btn-right fa fa-rotate-right fa-3x"></button>
          </a>
      </td>

        <td></td>

        <!-- motor 6 -->
        <td>
            <a href="javascript:void(0)" id="click_btn_motor6_ccw">
                <button type="button" class="control-btn2 control-btn-left fa fa-expand fa-3x"></button>
            </a>
        </td>
        <td>
            <button type="button" class="control-btn-mid" disabled>
                <strong>M6 Gripper open/close</strong>
            </button>
        </td>
        <td>
            <a href="javascript:void(0)" id="click_btn_motor6_cw">
                <button type="button" class="control-btn2 control-btn-right fa fa-compress fa-3x"></button>
            </a>
        </td>
    </tr>
    <tr> <!-- labels -->
      <th colspan="7" style="background:#990000; border:0px solid #990000">
        <strong>CLAW CONTROLS</strong>
      </th>
    </tr>
</table>
