<!-- m1 closed loop -->
<div class="col-sm-3" align="center" style="border-style:none;">
  <input id="m1-closed-loop-btn" type="checkbox" checked data-toggle="toggle" data-on="M1 PID ON" data-off="M1 PID OFF" data-onstyle="success" data-offstyle="danger">
</div>
<!-- m2 closed loop -->
<div class="col-sm-3" align="center" style="border-style:none;">
  <input id="m2-closed-loop-btn" type="checkbox" checked data-toggle="toggle" data-on="M2 PID ON" data-off="M2 PID OFF" data-onstyle="success" data-offstyle="danger">
</div>
<!-- m3 closed loop -->
<div class="col-sm-3" align="center" style="border-style:none;">
  <input id="m3-closed-loop-btn" type="checkbox" checked data-toggle="toggle" data-on="M3 PID ON" data-off="M3 PID OFF" data-onstyle="success" data-offstyle="danger">
</div>
<!-- m4 closed loop -->
<div class="col-sm-3" align="center" style="border-style:none;">
  <input id="m4-closed-loop-btn" type="checkbox" checked data-toggle="toggle" data-on="M4 PID ON" data-off="M4 PID OFF" data-onstyle="success" data-offstyle="danger">
</div>
