<table class="table table-dark table-striped table-bordered table-sm">
  <tbody>
    <tr>
      <td>
        <strong>Motor 1 PID</strong>
      </td>
      <td>
        <!-- m1 closed loop -->
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
          <label>
            <input id="m1-closed-loop-btn" type="checkbox">
            <span></span>
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Motor 2 PID</strong>
      </td>
      <td>
        <!-- m2 closed loop -->
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
          <label>
            <input id="m2-closed-loop-btn" type="checkbox">
            <span></span>
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Motor 3 PID</strong>
      </td>
      <td>
        <!-- m3 closed loop -->
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
          <label>
            <input id="m3-closed-loop-btn" type="checkbox">
            <span></span>
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Motor 4 PID</strong>
      </td>
      <td>
        <!-- m4 closed loop -->
        <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
          <label>
            <input id="m4-closed-loop-btn" type="checkbox">
            <span></span>
          </label>
        </div>
      </td>
    </tr>
  </tbody>
</table>
