<!-- m1 closed loop -->
<div class="form-check checkbox-slider--a checkbox-slider-lg" align="center">
  <label>
    <input id="m1-closed-loop-btn" type="checkbox">
    <span></span>
  </label>
</div>
<!-- m2 closed loop -->
<div class="form-check checkbox-slider--a checkbox-slider-lg" align="center">
  <label>
    <input id="m2-closed-loop-btn" type="checkbox">
    <span></span>
  </label>
</div>
<!-- m3 closed loop -->
<div class="form-check checkbox-slider--a checkbox-slider-lg" align="center">
  <label>
    <input id="m3-closed-loop-btn" type="checkbox">
    <span></span>
  </label>
</div>
<!-- m4 closed loop -->
<div class="form-check checkbox-slider--a checkbox-slider-lg" align="center">
  <label>
    <input id="m4-closed-loop-btn" type="checkbox">
    <span></span>
  </label>
</div>
