{% extends "Base.html" %}
{% block title %}PDS{% endblock %}
{% block head %}
 {{ super() }}
   <script src="../static/js/pds.js"></script>
{% endblock %}
{% block content %}
<div class="row">
 <div class="col-md-4">
   {% with device="PDS" %}{% include "Console.html" %}{% endwith %}
 </div>
 <div class="col-md-4">
   {% include 'PdsControls.html' %}
   {% with device="PDS" %}{% include 'ExtraControls.html' %}{% endwith %}
 </div>
 <div class="col-md-4">
   {% include 'PdsExtraTable.html' %}
   {% include 'RoverMotorTable.html' %}
   {% include 'ArmMotorTable.html' %}
 </div>
</div>
{% endblock %}
