<div class="col-md4">
  <div class="row">
    <div class="command-listener-btn">
      <span>
        <strong>Command Listener</strong>
      </span>
      <div class="form-check checkbox-slider--a checkbox-slider-lg" align="center">
        <label>
          <input id="toggle-pds-listener-btn" type="checkbox">
          <span> </span>
        </label>
      </div>
    </div>
    <div class="auto-mode-btn">
      <span>
        <strong>Auto Mode</strong>
      </span>
      <div class="form-check checkbox-slider--a checkbox-slider-lg" align="center">
        <label>
          <input id="toggle-auto-mode-btn" type="checkbox">
          <span> </span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <table>
      <tr>
        <td>
          <button title="Cut power to all wheel motors" id="cut-pds-power-button" type="button" class="btn btn-primary btn-md">
            <strong>Cut power (Q)</strong>
          </button>
        </td>
        <td>
          <button title="Provide power to all wheel motors" id="provide-pds-power-button" type="button" class="btn btn-primary btn-md">
            <strong>Provide power</strong>
          </button>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <strong>Motor 1</strong>
        </td>
        <td>
          <strong>Motor 2</strong>
        </td>
        <td>
          <strong>Motor 3</strong>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
            <label>
              <input id="m1-power-btn" type="checkbox">
              <span></span>
            </label>
          </div>
        </td>
        <td>
          <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
            <label>
              <input id="m2-power-btn" type="checkbox">
              <span></span>
            </label>
          </div>
        </td>
        <td>
          <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
            <label>
              <input id="m3-power-btn" type="checkbox">
              <span></span>
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Motor 4</strong>
        </td>
        <td>
          <strong>Motor 5</strong>
        </td>
        <td>
          <strong>Motor 6</strong>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
            <label>
              <input id="m4-power-btn" type="checkbox">
              <span></span>
            </label>
          </div>
        </td>
        <td>
          <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
            <label>
              <input id="m5-power-btn" type="checkbox">
              <span></span>
            </label>
          </div>
        </td>
        <td>
          <div class="form-check checkbox-slider--a checkbox-slider-md" align="center">
            <label>
              <input id="m6-power-btn" type="checkbox">
              <span></span>
            </label>
          </div>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <button title="Reset general flags" id="reset-general-flags-button" type="button" class="btn btn-primary btn-md">
            <strong>Reset General Flags</strong>
          </button>
        </td>
        <td>
          <button title="Reset current flags" id="reset-current-flags-button" type="button" class="btn btn-primary btn-md">
            <strong>Reset Current Flags</strong>
          </button>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <button type="button" id="fan1-speed-btn" class="btn btn-primary btn-md">Send fan 1 speed</button>
          <input type="text" id="fan1-speed-input" value="100" size="3">
        </td>
      </tr>
      <tr>
        <td>
          <button type="button" id="fan2-speed-btn" class="btn btn-primary btn-md">Send fan 2 speed</button>
          <input type="text" id="fan2-speed-input" value="100" size="3">
        </td>
      </tr>
    </table>
  </div>
</div>
