{% extends "Base.html" %}
{% block title %}Rover{% endblock %}
{% block content %}
<div class="row">
 <div class="col-md-3">{% include 'Console.html' %}</div>
 <div class="col-md-3">
     {% include 'GPS.html' %}
     {% include 'RoverMotorTable.html' %}
 </div>
 <div class="col-md-6">{% include 'CameraFeed.html' %}</div>
</div>
<div class="row">
  <div class="col-md-4">{% include 'Navigation.html' %}</div>
  <div class="col-md-2">{% include 'RoverMotorControls.html' %}</div>
  <div class="col-md-6">{% include 'CameraControls.html' %}</div>
</div>
{% endblock %}
