{% extends "Base.html" %}
{% block title %}Rover{% endblock %}
{% block head %}
 {{ super() }}
   <script src="../static/js/rover.js"></script>
{% endblock %}
{% block content %}
<div class="row">
 <div class="col-md-3">{% with device="Rover" %}{% include "Console.html" %}{% endwith %}</div>
 <div class="col-md-3">
     {% include 'GPS.html' %}
     {% include 'RoverMotorTable.html' %}
 </div>
 <div class="col-md-6">{% include 'CameraFeed.html' %}</div>
</div>
<div class="row">
  <div class="col-md-3">{% include 'Navigation.html' %}</div>
  <div class="col-md-4">{% include 'RoverMotorControls.html' %}</div>
  <div class="col-md-3">{% include 'CameraControls.html' %}</div>
  <div class="col-md-2">{% with device="Rover" %}{% include 'ExtraControls.html' %}{% endwith %}</div>
</div>
{% endblock %}
