<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SC Robotics GUI - Science</title>
    <link rel="shortcut icon" href="static/img/sclogo_header_black.ico">


    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap-4.1.2.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome-4.7.0.min.css" rel="stylesheet">
    <link href="../static/css/titatoggle-dist.css" rel="stylesheet">
    <!-- TODO: eventually abstract common css to app.css -->
    <link href="../static/css/arm.css" rel="stylesheet">
    <link href="../static/css/science.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper-1.14.3.min.js"></script>
    <script src="../static/js/bootstrap-4.1.2.min.js"></script>

    <!-- for roslibjs stuff -->
    <script type="text/javascript" src="../static/js/roslibjs/roslib.min.js"></script>
    <script type="text/javascript" src="../static/js/roslibjs/eventemitter2.min.js"></script>
    <!-- all for ros3d -->
    <script type="text/javascript" src="../static/js/roslibjs/three.js"></script>
    <script type="text/javascript" src="../static/js/roslibjs/ColladaLoader.js"></script>
    <script type="text/javascript" src="../static/js/roslibjs/ColladaLoader2.min.js"></script>
    <script type="text/javascript" src="../static/js/roslibjs/STLLoader.js"></script>
    <script type="text/javascript" src="../static/js/roslibjs/ros3d.min.js"></script>
    <!-- homemade -->
    <script src="../static/js/helpers.js"></script>
    <script type="text/javascript" src="../static/js/roslibjs/ros-helpers.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/science.js"></script>

</head>

<body onload="run()">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="margin-bottom: 120px">
      <div class="col-md-1">
          <a class="navbar-brand" href="'javascript:void(0)'">
              <img src="../static/img/sclogo_header.png">
          </a>
      </div>

      <div class="dropdown col-md-2">
        <button id="mux" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Select Device Channel
        </button>
        <div class="dropdown-menu">
          <a id="mux-0" class="dropdown-item">0: Rover</a>
          <a id="mux-1" class="dropdown-item">1: Arm</a>
          <a id="mux-2" class="dropdown-item">2: Science</a>
          <a id="mux-3" class="dropdown-item">3: PDS</a>
        </div>
      </div>

      <div class="col-md-8">
        <input type="text" id="serial-cmd-input">
      </div>
      <div class="col-md-1">
        <button type="button" id="send-serial-btn" class="btn btn-primary">Send serial cmd</button>
      </div>
    </nav>
	<br>
	<br>
	<div style="margin-bottom:10px"></div>

	<div class="container fill">
		<div>
			<div class="row">
				<!-- MOTOR TABLE -->
				<div class="col-md">
					<h5 class="container-header">Drill Controll</h5>
					<table class="table table-sm">
						<tbody>
							<tr>
								<td>
									<a href=#>
										<button type="button" class="btn btn-secondary">Set Rotation</button>
									</a>
								</td>
								<td colspan="2">
									<a href=#>
										<button type="button" class="btn btn-secondary">CW</button>
									</a>
									<a href=#>
										<button type="button" class="btn btn-secondary">CCW</button>
									</a>
								</td>
                                <td>
                                    <div class="col-sm" align="center" style="border-style:none;">
                                        <span>
                                            <strong>Activate Listener</strong>
                                        </span>
                                        <div class="form-check checkbox-slider--a checkbox-slider-lg" align="center">
                                            <label>
                                                <input id="science-listener-btn" type="checkbox">
                                                <span> </span>
                                            </label>
                                        </div>
                                    </div>
                                </td>

							</tr>
							<tr>
								<td class="align-middle">
									<a href=#>
										<button type="button" class="btn btn-secondary">Home Postion</button>
									</a>
								</td>
								<td colspan="2">
									<div class="form-group">
										<label for="usr">Current Elevation</label>
										<input type="text" class="form-control" id="usr">
									</div>
								</td>

							</tr>
							<tr>
								<td class="align-middle">
									<a href=#>
										<button type="button" class="btn btn-secondary">Lower Drill</button>
									</a>
								</td>
								<td class="align-middle">
									<a href=#>
										<button type="button" class="btn btn-secondary">Start Drilling</button>
									</a>
								</td>
								<td>
									<div class="form-group">
										<label for="usr">Drill Time(s)</label>
										<input type="text" class="form-control" id="usr">
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<a href=#>
										<button type="button" class="btn btn-secondary">Raise Drill</button>
									</a>
								</td>
								<td>
									<a href=#>
										<button type="button" class="btn btn-secondary">Stop Drilling</button>
									</a>
								</td>
								<td></td>
							</tr>
						</tbody>
					</table>

				</div>

                <div>
                    <canvas id="myCanvas" width="500" height="500" style="border:2px solid #000;"></canvas>
                    <div>
                        <input type="button" id="button_rpos" class="button" value="ROTATE &#x27F2"/>
                        <input type="button" id="button_rneg" class="button" value="ROTATE &#x27F3"/>
                    </div>
                </div>

				<!-- CONTROLS & ROVER DRIVE & CAMERA TILT/PAN -->
				<div class="col-md">
					<h5 class="container-header">Science Experiment</h5>
					<table class="table table-sm">
						<tbody>
							<tr>
								<td>
									<a href=#>
										<button type="button" class="btn btn-secondary">Drop Solution</button>
									</a>
								</td>
								<td colspan="2"></td>

							</tr>
							<tr>
								<td class="align-middle">
									<a href=#>
										<button type="button" class="btn btn-secondary">Rotate Wheel</button>
									</a>
								</td>
								<td colspan="2">
									<a href=#>
										<button type="button" class="btn btn-secondary">CW</button>
									</a>
									<a href=#>
										<button type="button" class="btn btn-secondary">CCW</button>
									</a>
								</td>

							</tr>
							<tr>
								<td class="align-middle">
									<a href=#>
										<button type="button" class="btn btn-secondary">Measure</button>
									</a>
								</td>
								<td colspan="2">
									<div class="form-group">
										<label for="usr">Absorbance</label>
										<input type="text" class="form-control" id="usr">
									</div>
								</td>
							</tr>

						</tbody>
					</table>
                </div>

                <div class="col-md-6" align="center">
                    <h5 class="container-header">Science Vision</h5>
                    <!-- It would be preferable to use video tag, but mjpeg streams are not have no general support beyond img tags -->
                    <img id="camera-feed" src="http://{{ roverIP }}:8090/?action=stream" class="mx-auto d-block" alt="Arm Camera Stream Offline" onerror="this.onerror=null;this.src='../static/images/stream-offline.jpg';"/>
                </div>

				<!-- LOG CONSOLE -->
				<div class="col-md">
					<h5 class="container-header">Log Console</h5>
					<div class="form-group">
						<textarea id="write-to-log" rows="8" readonly></textarea>
						<br>
						<!--log console buttons-->
						<div class="btn-group" role="group" id="logs-btn">
							<a href=# id=click_btn>
								<button type="button" class="btn btn-secondary">Open Logs</button>
							</a>
							<a href="javascript:void(0)" id="clear-log">
								<button type="button" class="btn btn-secondary" onclick="clearText()">Clear
									Logs</button>
							</a>
							<a href="javascript:void(0)" id="test-log">
								<button type="button" class="btn btn-secondary"
									onclick="appendToScienceLog('Simple test.');">Test</button>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>

</html>
