{% extends "Base.html" %}
{% block title %}Science{% endblock %}
{% block head %}
 {{ super() }}
   <script src="../static/js/science.js"></script>
   <script src="../static/js/drillcontrols.js"></script>
   <script src="../static/js/turntable.js"></script>
   <script src="../static/js/elevator.js"></script>
{% endblock %}
{% block content %}
	<div class="container fill">
		<div>
			<div class="row">
				<div class="col-md">
          {% include 'DrillControls.html' %}
          {% include 'ElevatorControls.html' %}
				</div>
        <div>
            {% include 'TurntableControls.html' %}
        </div>
				<div class="col-md">
          <!-- These components were commented out since they were not useful for ERC 2019 -->
          <!-- NOTE: Jinja comments have their own syntax, HTML style comments will not work -->
          {#{% include 'PumpControls.html' %}#}
          {#{% include 'VibratorAndLEDControls.html' %}#}
          {% include 'ExtraControls.html' %}
        </div>
        <div class="col-md-6" align="center">
          {% include 'CameraFeed.html' %}
        </div>
        <div class="col-md-6" align="center">
          {% with device="Science" %}{% include 'Console.html' %}{% endwith %}
        </div>
			</div>
		</div>
	</div>
{% endblock %}
