<canvas id="turntable-canvas" width="500" height="500" style="border:2px solid #000;"></canvas>
<div>
    <input type="button" id="button_rpos" class="button" value="ROTATE ⟲"/>
    <input type="button" id="button_rneg" class="button" value="ROTATE ⟳"/>
</div>
<button id="turntable-ccw-btn" type="button" class="btn btn-primary" aria-hidden="true">TURN CCW</button>
<button id="turntable-cw-btn" type="button" class="btn btn-primary" aria-hidden="true">TURN CW</button>
<button id="turntable-stop-btn" type="button" class="btn btn-primary" aria-hidden="true">STOP</button>
