<div class="camera-panel container-fluid" rotation=0>
<div class="camera-head row">
    <img class="camera-btn camera-rotl col-1" src="../../../static/img/camera/rotate_left.png"/>
    <img class="camera-btn camera-rotr col-1" src="../../../static/img/camera/rotate_left.png"/>
    <img class="camera-btn camera-screenshot col-1" src="../../../static/img/camera/save_screenshot.png"/>
    <img class="camera-btn camera-recording col-1" recording="false" src="../../../static/img/camera/record_off.png"/>
    <img class="camera-btn camera-popup col-1" src="../../../static/img/camera/Popup.png"/>
    <button class="ar-tag-detection col-1">AR</button>
    <div class="camera-label col-3">
        <h3 class="camera-name" stream="">No Stream</h3>
    </div>
          <button class="camera-select dropdown dropdown-toggle col-2" type="button" data-toggle="dropdown" aria-expanded="false">Stream Select
            <span class="caret"></span></button>
            <ul class="camera-selections dropdown-menu">
            </ul>
    <img class="camera-btn camera-power col-1" power-on="false" src="../../../static/img/camera/power_off.png"/>
</div>
<div class="camera-stream row">
        <img class="camera-feed" src="../../../static/img/camera/stream_offline.png" >{% include 'elements/controls/CameraControls.html' %}</img>
</div>
</div>
