<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="col-md-1">
      <a class="navbar-brand" href="{{ url_for('index') }}">
          <img src="../static/img/sclogo_header.png">
      </a>
  </div>

  <div class="dropdown col-md-2">
    <button id="page-select" type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown">
      Page Selection
    </button>
    <div class="dropdown-menu">
      <a id="rover-page" class="dropdown-item">Rover<img style="float:right;" src="static/img/navbar/rover.png"></a>
      <a id="arm-page" class="dropdown-item">Arm<img style="float:right;" src="static/img/navbar/arm.png"></a>
      <a id="science-page" class="dropdown-item">Science<img style="float:right;" src="static/img/navbar/science.png"></a>
      <a id="pds-page" class="dropdown-item">PDS<img style="float:right;" src="static/img/navbar/pds.png"></a>
      <a id="streams-page" class="dropdown-item">Streams<img style="float:right;" src="static/img/navbar/streams.png"></a>
    </div>
  </div>

  <div class="dropdown col-md-2">
    <button id="mux" type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown">
      Device Channel
    </button>
    <div class="dropdown-menu">
      <a id="mux-0" class="dropdown-item">0: Rover</a>
      <a id="mux-1" class="dropdown-item">1: Arm</a>
      <a id="mux-2" class="dropdown-item">2: Science</a>
      <a id="mux-3" class="dropdown-item">3: PDS</a>
    </div>
  </div>

  <div class="dropdown col-md-2">
    <button id="serial-type" type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown">
      Serial Type
    </button>
    <div class="dropdown-menu">
      <a id="uart" class="dropdown-item">uart</a>
      <a id="usb" class="dropdown-item">usb</a>
    </div>
  </div>

  <div class="dropdown col-md-1">
    <button id="theme-button" type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown">
      Theme
    </button>
    <div class="dropdown-menu">
      <a id="theme-red" class="dropdown-item">Red</a>
      <a id="theme-green" class="dropdown-item">Green</a>
      <a id="theme-blue" class="dropdown-item">Blue</a>
    </div>
  </div>

  <div class="col-md-1">
    <div class="row" style="color:white">
      <div class="col-md-6">BATTERY VOLTAGE: </div>
      <div class="col-md-6" id="battery-voltage">-</div>
    </div>
  </div>
  <div class= "col-md-1" style="color:white">
    <div class ="row">
      <div class="col-md-6">BATTERY TEMPS: </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="col-md-2" style="color:white">
    <div class="row">
	  <span title="battery temp 1">T1:</span><div class="col-md-3" id="battery-temp-1">-</div>&#8451;
	  <span title="battery temp 2">T2:</span><div class="col-md-3" id="battery-temp-2">-</div>&#8451;
    </div>
    <div class="row">
	  <span title = "battery temp 3">T3:</span><div class="col-md-3" id="battery-temp-3">-</div>&#8451;
    </div>
  </div>
</div>
 </div>
</nav>
