<h5 class="container-header">PDS Extra Table</h5>
<table id="motor-table" class="table table-hover table-sm table-bordered" style="font-size:12px; background:rgba(255, 255, 255, 0.8); text-align: left">
  <thead>
    <tr>
      <th scope="col">Flag</br>(Error)</th>
      <th scope="col">State</br>(on/off)</th>
      <th scope="col">Fan</br>(Number)</th>
      <th scope="col">Speed</br>(%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Overvoltage</th>
      <td id="pds-ov-flag">-</td>
      <th scope="col">Big Fan</th>
      <td id="fan-1-speed">-</td>
    </tr>
    <tr>
      <th scope="col">Undervoltage</th>
      <td id="pds-uv-flag">-</td>
      <th scope="col">Little Fan</th>
      <td id="fan-2-speed">-</td>
    </tr>
    <tr>
      <th scope="col">Critical Error</th>
      <td id="pds-critical-flag">-</td>
    </tr>
  </tbody>
</table>
