<h5 class="container-header">Wheel Motor Table</h5>
<!--Table-->
<table id="motor-table" class="table table-hover table-sm table-bordered">
  <!--Table head-->
  <thead class="thead-dark">
    <tr>
      <th scope="col">Motor</br>(Number)</th>
      <th scope="col">Status</br>(Alive/Dead)</th>
      <th scope="col">Speed</br>(RPM)</th>
      <th scope="col">Current</br>(A)</th>
    </tr>
  </thead>
  <!--Table body-->
  <tbody>
    <tr>
      <th scope="row"><button type="button" class="btn btn-success btn-circle"><i class="fa"></i></button>
        R Front
      </th>
      <td class="table-text" id="right-front-status">N/A</td>
      <td class="table-text" id="right-front-rpm">-</td>
      <td class="table-text" id="right-front-current">N/A</td>
    </tr>
    <tr>
      <th scope="row"><button type="button" class="btn btn-success btn-circle"><i class="fa"></i></button>
        R Mid
      </th>
      <td class="table-text" id="right-mid-status">N/A</td>
      <td class="table-text" id="right-mid-rpm">-</td>
      <td class="table-text" id="right-mid-current">N/A</td>
    </tr>
    <tr>
      <th scope="row"><button type="button" class="btn btn-success btn-circle"><i class="fa"></i></button>
        R Back
      </th>
      <td class="table-text" id="right-rear-status">N/A</td>
      <td class="table-text" id="right-rear-rpm">-</td>
      <td class="table-text" id="right-rear-current">N/A</td>
    </tr>
    <tr>
      <th scope="row"><button type="button" class="btn btn-success btn-circle"><i class="fa"></i></button>
        L Front
      </th>
      <td class="table-text" id="left-front-status">N/A</td>
      <td class="table-text" id="left-front-rpm">-</td>
      <td class="table-text" id="left-front-current">N/A</td>
    </tr>
    <tr>
      <th scope="row"><button type="button" class="btn btn-success btn-circle"><i class="fa"></i></button>
        L Mid
      </th>
      <td class="table-text" id="left-mid-status">N/A</td>
      <td class="table-text" id="left-mid-rpm">-</td>
      <td class="table-text" id="left-mid-current">N/A</td>
    </tr>
    <tr>
      <th scope="row"><button type="button" class="btn btn-success btn-circle"><i class="fa"></i></button>
        R Back
      </th>
      <td class="table-text" id="left-rear-status">N/A</td>
      <td class="table-text" id="left-rear-rpm">-</td>
      <td class="table-text" id="left-rear-current">N/A</td>
    </tr>
  </tbody>
</table>
