<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $( document ).ready(function() {
    $('.fan-off').click(function() {
      $.ajax({url: "/fanoff", success: function(result){
          console.log("Sent fan off command") 
    }});
    })
    $('.fan-on').click(function() {
      $.ajax({url: "/fanon", success: function(result){
          console.log("Sent fan on command") 
    }});

    $('.motor-off').click(function() {
      $.ajax({url: "/motoroff", success: function(result){
          console.log("Sent motor off command") 
    }});
    })
    $('.motor-on').click(function() {
      $.ajax({url: "/motoron", success: function(result){
          console.log("Sent motor on command") 
    }});
    })
    })
});
</script>
<body>

<h1>Fan</h1>
<button class='fan-off'>off</button>
<button class='fan-on'>on</button>

<h1>Motor</h1>
<button class='motor-off'>off</button>
<button class='motor-on'>on</button>

<h1>Temperatures</h1>
<h2>T1 : </h2> <label class='temperature temp-1'>20</label>
<h2>T2 : </h2> <label class='temperature temp-2'>20</label>
<h2>T3 : </h2> <label class='temperature temp-3'>20</label>
<h2>T4 : </h2> <label class='temperature temp-4'>20</label>
</body>
</html>
