[Unit]
Description=Use dnsmasq to launch DHCP server for using Ouster OS1 3D lidar
After=ip-emailer.service
Wants=ip-emailer.service

[Service]
User=root
Type=simple
ExecStart=/home/nvidia/Programming/robotics-prototype/robot/util/lidarDhcpServerStart/runLidarDhcpServerStart.sh

[Install]
WantedBy=multi-user.target
