[Unit]
Description=Launch roscore and startup nodes
After=ip-emailer.service
Wants=ip-emailer.service

[Service]
#User=nvidia
# For some unkown reason this service stopped working when running as user nvidia
User=root
Type=simple
ExecStart=/home/nvidia/Programming/robotics-prototype/launch/runRosRoverStart.sh

[Install]
WantedBy=multi-user.target
