[Unit]
Description=Launch roscore and startup nodes
After=ip-emailer.service
Wants=ip-emailer.service

[Service]
#User=odroid
# For some unkown reason this service stopped working when running as user odroid
User=root
Type=simple
ExecStart=/home/odroid/Programming/robotics-prototype/robot/util/rosRoverStart/runRosRoverStart.sh

[Install]
WantedBy=multi-user.target
