html, body {
    background-color: #1C1D2F;
}

.navbar {
    background-color: #0C120C;
}

/*    Trying to override the bootstrap navbar coloring

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
}

html body .navbar .navbar-inner .container {
    color: #FFF;
}
*/
