html, body {
    background-color: #2B343B;
}

.navbar {
    background-color: #A38282;
}

/* Whole lotta bootstrap dropdown menu code */
.dropdown .nav-link {color:#445B7B; text-decoration: none;}
.dropdown .dropdown-menu a{color: #000; text-decoration: none;}
.dropdown .btn {background: #445B7B; color:#fff;}
.dropdown .btn:hover {background: #EFEFEF; color:#000;}
.dropdown .btn:active {background: #EFEFEF; color:#000;}
.dropdown .btn:focus {background: #EFEFEF; color:#000;}
.dropdown-menu .dropdown-item {display: inline-block; width: 100%; padding: 10px 5px;}
.container .dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: #fff;
  border-color: white;
}
.btn-primary.dropdown-toggle {
    color: #fff;
    border-color: #fff;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none!important;
  box-shadow:
  0 0 0 0.2rem rgba(0,0,0,.5);
}
.btn .btn-primary .dropdown-toggle .btn-block{
  color: #E4E1D1!important;
  background-color: #E4E1D1!important;
  border-color: #E4E1D1!important;
}
/*Keep this*/
.btn-primary.focus, .btn-primary:focus {
  box-shadow:
  0 0 0 0.2rem rgba(255,255,255,0);
}
/*Test*/
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #445b7b;
    border-color: #445b7b;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}
.btn.focus, .btn:focus {
  box shadow: white;
}
.btn-primary {
  border-color: white;
}

/* Titles */
.container-header, thead {
    color: #E4E1D1;
    font-weight: bolder;
    text-align: center;
}

.title {
  color: #E4E1D1;
}

/* Control Buttons */
.control-btn {
  width: 80px;
  height: 80px;
  background-color: #3D7F7F;
  border: ridge 2px black;
  color: white;
  border-radius: 10px;
}

.control-btn2 {
    width: 60px;
    height: 40px;
    background-color: #3D7F7F;
    border: ridge 2px black;
    color: white;
}

.control-btn3 {
    width: 120px;
    height: 30px;
    background-color: #3D7F7F;
    border: ridge 2px black;
    margin: 2px;
    color: white;
}

.control-btn4 {
    width: 60px;
    height: 60px;
    background-color: #3D7F7F;
    border: ridge 2px black;
    color: white;
}

.control-btn:hover, .control-btn2:hover, #logs-btn button:hover {
    background-color: #8E8E96;
    color: white;
}

.control-btn-left {
    border-radius: 10px 0 0 10px;
    border-right-color: #848282;
}

.control-btn-right {
    border-radius: 0 10px 10px 0;
    border-left-color: #848282;
}

.control-btn-mid {
    width: 80px;
    height: 80px;
    background-color: #848282;
    border-top: ridge 2px #434586;
    border-bottom: ridge 2px #434586;
    border-left: ridge 2px #848282;
    border-right: ridge 2px #848282;
    color: white;
}

.control-main-btn {
    border-bottom: 0px solid #05072f;
    border-top-style: none;
    border-left-style: none;
    margin-bottom: 5px
}

/*Claw controls*/
#logs-btn button {
    background-color: #3D7F7F;
    border: ridge 2px black;
}
.table-grp td, .table-grp2 td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    border-style: none;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
    border-color: yellow;
}
.table-grp th, .table-grp2 th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #2B343B;
    text-align: center;
}
.table-grp tr:last-child {
    border-bottom: 0px inset #2B343B;
    color: #E4E1D1;
    font-weight: bold;
    background-color: #2B343B;
}
.claw-controls {
  width:30px;
  background:;
  border:0px
  solid: #2B343B;
}

.claw-controls2 {
  color: #E4E1D1;
}

/* Arm Motor Table */
.table, .table-sm, .table-bordered {
  font-size:12px;
  background: #EFEFEF;
  text-align: left
}
#motor-table thead th, .table-grp tr:first-child {
    text-align: center;
    vertical-align: middle
}
#motor-table thead tr:first-child, #motor-table tbody th {
    background-color: #C34641;
    color: white;
    border: 2px solid black
}
#motor-table, #motor-table tr td {
    border: 2px solid black;
    text-align: center
}

/* Other bootstrap buttons */
.btn-primary {
    color: #fff;
    background-color: #445b7b;
    border-color: #445b7b;
  }
