/*
Bootstrap Buttons (Purple): #445B7B
Regular Buttons (Green): #3D7F7F
Table (Red): #C34641
Table (Light Grey): #EFEFEF
Navbar (Salmon): #A38282
Text (Off-White): #E4E1D1
Background (Grey): #2B343B
Button Hover (Blueish Light Grey): #BCD4DD
*/

/* Background color */
html, body {
  height: 100%;
  background-color: #2B343B;
}

/* Navigation bar color */
.navbar {
  background-color: #A38282;
}

/* Whole lotta bootstrap dropdown menu styling */
.dropdown .nav-link {
  color:#445B7B; text-decoration: none;
}

.dropdown .btn {
  background: #445B7B; color:#fff;
}

.container .dropdown .dropdown-menu a:hover {
  color: #fff;
  background-color: #fff;
  border-color: white;
}

.btn-primary.dropdown-toggle {
    color: #fff;
    border-color: #fff;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none!important;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,.5);
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #445b7b;
  border-color: #445b7b;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}

.btn.focus, .btn:focus {
  box shadow: white;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #BCD4DD;
}

/* Bootstrap buttons */
.btn-primary {
  color: #fff;
  background-color: #445b7b;
  border-color: #445b7b;
}
.btn-primary:hover {
  color: black;
  background-color: #BCD4DD;
  border-color: #BCD4DD;
}

/* Bootstrap forms */
.form-control:focus {
  color: white;
  background-color: #fff;
  border-color: white;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}

/* Titles */
.container-header, thead {
  color: #E4E1D1;
  font-weight: bolder;
}
.title {
  color: #E4E1D1;
}

/*Log buttons (rover.css)*/
#logs-btn button {
    background-color: #3D7F7F;
    border: ridge 2px black;
}

/* Control Buttons (rover.css) */
.round-btn {
  background-color: #3D7F7F;
  border: ridge 2px black;
  color: white;
}

.rect-btn {
    background-color: #3D7F7F;
    border: ridge 2px black;
    color: white;
}

.square-btn {
    background-color: #3D7F7F;
    border: ridge 2px black;
    color: white;
}

.round-btn:hover, .rect-btn:hover, #logs-btn button:hover {
    background-color: #BCD4DD;
    color: black;
}

.control-btn-left {
    border-right-color: #848282;
}

.control-btn-right {
    border-left-color: #848282;
}

.control-btn-mid {
    background-color: #848282;
    border-top: ridge 2px #848282;
    border-bottom: ridge 2px #848282;
    border-left: ridge 2px #848282;
    border-right: ridge 2px #848282;
    color: white;
}

#motor-table thead tr:first-child, #motor-table tbody th {
    background-color: #101148;
    color: #F0DAFA;
    border: 2px solid #750000
}

#motor-table, #motor-table tr td {
    border: 2px solid #750000;
    text-align: center
}

.control-main-btn {
    border-bottom: 0px solid #05072f;
}

/*Arm controls (arm.css)*/
.auto-ctrl-grp th, .manual-ctrl-grp th {
    border-color: #2B343B;
}

.auto-ctrl-grp tr:last-child {
    border-bottom: 0px inset #2B343B;
    color: #E4E1D1;
    font-weight: bold;
    background-color: #2B343B;
}

.claw-controls {
  width:30px;
  background: none;
  border:0px
  solid: #2B343B;
}

.claw-controls2 {
  color: #E4E1D1;
}

/* Arm Motor Table */
.table, .table-sm, .table-bordered {
  background: #EFEFEF;
}

#motor-table thead tr:first-child, #motor-table tbody th {
  background-color: #C34641;
  color: white;
  border: 2px solid black;
}

#motor-table, #motor-table tr td {
  border: 2px solid black;
}

.table-text {
  color: black;
}

/* Navigation */
.navigation {
  color: #E4E1D1;
  display: block;
}

.col-md-1 {
  color: #FFFFFF;
}

.row {
  color: #E4E1D1;
}

.text-white {
  color: #FFFFFF;
}

/* PDS */
.pds-text {
  color: #E4E1D1;
}

.pds-stats {
  color: #FFFFFF;
}
