/*
Bootstrap Buttons (Blue): #528EA5
Regular Buttons (Purple): #656F8C
Table (Purple): #675B79
Table (Light Grey): #EFEFEF
Navbar (Green): #6E9389
Text (Black): #252931
Background (Beige): #F2F1E8
Button Hover (Blueish Light Grey): #BCD4DD
*/

/* Background color */
html, body {
  height: 100%;
  background-color: #F2F1E8;
}

/* Navigation bar color */
.navbar {
  background-color: #6E9389;
}

/* Whole lotta bootstrap dropdown menu styling */
.dropdown .nav-link {
  color: #528EA5;
  text-decoration: none;
}

.dropdown .btn {
  background: #528EA5;
  color: white;
}

.container .dropdown .dropdown-menu a:hover {
  color: white;
  background-color: white;
  border-color: white;
}

.btn-primary.dropdown-toggle {
    color: white;
    border-color: white;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none!important;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,.5);
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: white;
  background-color: #528EA5;
  border-color: #528EA5;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}

.btn.focus, .btn:focus {
  box shadow: white;
}

.dropdown-item.active, .dropdown-item:active {
    color: white;
    text-decoration: none;
    background-color: #BCD4DD;
}

/* Bootstrap buttons */
.btn-primary {
  color: white;
  background-color: #528EA5;
  border-color: #528EA5;
}

.btn-primary:hover {
  color: black;
  background-color: #BCD4DD;
  border-color: #BCD4DD;
}

/* Bootstrap forms */
.form-control:focus {
  color: white;
  background-color: white;
  border-color: white;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}

/* Titles */
.container-header, thead {
  color: #252931;
  font-weight: bolder;
}

.title {
  color: #252931;
}

/*Log buttons (rover.css)*/
#logs-btn button {
    background-color: #656F8C;
    border: ridge 2px black;
}

/* Control Buttons (rover.css) */
.round-btn {
  background-color: #656F8C;
  border: ridge 2px black;
  color: white;
}

.rect-btn {
    background-color: #3D7F7F;
    border: ridge 2px black;
    color: white;
}

.square-btn {
    background-color: #3D7F7F;
    border: ridge 2px black;
    color: white;
}

.round-btn:hover, .rect-btn:hover, #logs-btn button:hover {
    background-color: #BCD4DD;
    color: black;
}

.control-btn-left {
    border-right-color: #848282;
}

.control-btn-right {
    border-left-color: #848282;
}

.control-btn-mid {
    background-color: #848282;
    border-top: ridge 2px #848282;
    border-bottom: ridge 2px #848282;
    border-left: ridge 2px #848282;
    border-right: ridge 2px #848282;
    color: white;
}

#motor-table thead tr:first-child, #motor-table tbody th {
    background-color: #101148;
    color: #F0DAFA;
    border: 2px solid #750000;
}

#motor-table, #motor-table tr td {
    border: 2px solid #750000;
    text-align: center
}

.control-main-btn {
    border-bottom: 0px solid #05072F;
}

/*Arm controls (arm.css)*/
.auto-ctrl-grp th, .manual-ctrl-grp th {
    border-color: #F2F1E8;
}

.auto-ctrl-grp tr:last-child {
    border-bottom: 0px inset #F2F1E8;
    color: #252931;
    font-weight: bold;
    background-color: #F2F1E8;
}

.claw-controls {
  width:30px;
  background: none;
  border:0px
  solid: #F2F1E8;
}

.claw-controls2 {
  color: #252931;
}

/* Arm Motor Table */
.table, .table-sm, .table-bordered {
  background: #EFEFEF;
}

#motor-table thead tr:first-child, #motor-table tbody th {
  background-color: #675B79;
  color: white;
  border: 2px solid black;
}

#motor-table, #motor-table tr td {
  border: 2px solid black;
}

.table-text {
  color: black;
}

/* Wheel Motor Table */
.motor-table {
  font-size:12px;
  background:rgba(255, 255, 255, 0.8);
  text-align: left;
}

/* Navigation */
.navigation {
  color: #05072F;
  display: block;
}

.row {
  color: #252931;
}

.text-white {
  color: white;
}

/* PDS */
.pds-text {
  color: #252931;
}

.pds-btn-text {
  color: white;
}

.pds-stats {
  color: white;
}

/* Camera */
.camera-btn {
  background-color: #528EA5;
  border-color: black;
}

.camera-label {
  background-color: #EFEFEF;
}

.camera-name {
  color: black; 
}
