[Desktop Entry]
Encoding=UTF-8
Name=Link to Full Wi-Fi Signal
Type=Link
URL=https://cdn.pc.net/images/db/wi-fi_signal_full.png
Icon=image-png
Name[en_US]=connected_bar
