[Desktop Entry]
Encoding=UTF-8
Name=Link to wifi_bang
Type=Link
URL=https://2xom5j4aqh9o3quhfzkge6t1-wpengine.netdna-ssl.com/wp-content/uploads/2015/02/wifi_bang-300x300.png
Icon=image-png
Name[en_US]=not_connected_bar
