<launch>
  <node name="video0" pkg="cv_camera" type="cv_camera_node">
    <param name="image_width" type="int" value="1280" />
    <param name="image_height" type="int" value="720" />
    <param name="device_id" value="0" />
  </node>
  <node name="video1" pkg="cv_camera" type="cv_camera_node">
    <param name="image_width" type="int" value="1280" />
    <param name="image_height" type="int" value="720" />
    <param name="device_id" value="1" />
  </node>
  <node name="video2" pkg="cv_camera" type="cv_camera_node">
    <param name="image_width" type="int" value="1280" />
    <param name="image_height" type="int" value="720" />
    <param name="device_id" value="2" />
  </node>
  <node name="web_video_server" pkg="web_video_server" type="web_video_server">
  </node>
</launch>
