<launch>
    <arg name="device_path" />
    <arg name="image_width" />
    <arg name="image_height" />
    <arg name="name" />
    <include file="$(find task_handler)/launch/stream.launch" pass_all_args="true"/>
    <include file="$(find camera_vision)/launch/autonomy.launch" pass_all_args="true"/>
</launch>
