{% extends "pages/Base.html" %}
{% block title %}Navigation{% endblock %}
{% block head %}
{{ super() }}
<script src="../../static/js/elements/navigation/navigation.js"></script>
<script src="../../static/js/elements/feed/console.js"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2">
        {% include "elements/feed/Console.html" %}
    </div>
    <div class="col-md-4" id="data-start">

        <div id="rover-stats">
            <h4 align="center"> Rover data </h4>
            <ul class="list-group" id="rover-stats-list">
                <div class="row px-3  ">
                    <li class="list-group-item col-md-6"> <label for="">Latitude</label> <span id="rover-latitude" class="float-right">----</span> </li>
                    <li class="list-group-item col-md-6"> <label for="">Longitude</label> <span id="rover-longitude" class="float-right">----</span></li>
                </div>
                <li class="list-group-item "> <label for="">Heading</label> <span id="rover-heading" class="float-right">----</span> </li>
                <li class="list-group-item "> <label for="">Speed</label> <span id="rover-speed" class="float-right">----</span></li>
                <li class="list-group-item "> <label for="">Angular Velocity</label> <span id="rover-angular-velocity" class="float-right">----</span></li>

            </ul>
        </div>

        <div id="antenna-stats-list">
            <hr>
            <h4 align="center"> Antenna data </h4>
            <ul class="list-group" id="antenna-stats-list">
                <div class="row px-3">
                    <li class="list-group-item col-md-6"> <label for=""> Latitude</label> <span id="antenna-stats-lat" class="float-right">----</span> </li>
                    <li class="list-group-item col-md-6"> <label for=""> Longitude</label> <span id="antenna-stats-long" class="float-right">----</span></li>
                </div>
                <li class="list-group-item"> <label for=""> Antenna Heading</label> <span id="antenna-stats-heading" class="float-right">----</span> </li>
                <li class="list-group-item"> <label for="">Distance to Rover</label> <span id="antenna-stats-dist-to-rover" class="float-right">----</span> </li>
                <li class="list-group-item"> <label for=""> Recommended Antenna Angle</label> <span id="antenna-stats-rec-angle" class="float-right">----</span> </li>

            </ul>
        </div>
        <button id="open-antenna-modal-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#antenna-modal"> Antenna Data </button>

        <div class="modal fade" id="antenna-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4> Antenna Menu </h4>
                    </div>
                    <div class="modal-body" id="antenna-modal-body">
                        <fieldset id="antenna-lat-fieldset">
                            <div id="antenna-select-lat-format">
                                <button type="button" id="antenna-select-lat-format-btn" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"> Select Latitude Format</button>
                                <span class="caret"> </span>

                                <ul class="dropdown-menu">
                                    <li class="dropdown-header"></li>
                                    <li><button id="antenna-lat-DD-btn" class="btn btn-primary btn-sm">Decimal Degrees </button></li>
                                    <li><button id="antenna-lat-DDM-btn" class="btn btn-primary btn-sm"> Degrees Decimal Minutes </button> </li>
                                    <li><button id="antenna-lat-DMS-btn" class="btn btn-primary btn-sm"> Degrees Minutes Seconds</button> </li>
                                </ul>
                            </div>

                        </fieldset>
                        <hr>

                        <fieldset id="antenna-long-fieldset">
                            <div id="antenna-select-long-format">
                                <button type="button" id="antenna-select-long-format-btn" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"> Select Longitude Format</button>

                                <span class="caret"> </span>

                                <ul class="dropdown-menu">
                                    <li><button id="antenna-long-DD-btn" class="btn btn-primary btn-sm"> Decimal Degrees </button> </li>
                                    <li><button id="antenna-long-DDM-btn" class="btn btn-primary btn-sm"> Degrees Decimal Minutes</button></li>
                                    <li><button id="antenna-long-DMS-btn" class="btn btn-primary btn-sm"> Degrees Minutes Seconds</button> </li>
                                </ul>

                            </div>
                        </fieldset>

                        <hr>
                        <fieldset id="antenna-bearing-fieldset">
                            <div class="input-group" id="antenna-bearing-input-group">
                                <span class="input-group-text"> Bearing </span>
                                <input id="antenna-bearing-input" type="text" class="form-control antenna-input-field" placeholder="Enter">
                                <button id="antenna-bearing-change-btn" class="btn btn-warning antenna-change-btn"> Change </button>
                            </div>
                        </fieldset>

                    </div>

                    <div class="modal-footer">
                        <button id="antenna-confirm-btn" type="button" class="btn btn-success"> Confirm </button>
                    </div>

                </div>
            </div>

        </div>
        <br>
        <br>


        <div id="goal-stats-list">
            <h4 align="center">Goals</h4>

            <ul class="list-group" id="goal-stats-list">
                <div class="row px-3">
                    <li class="list-group-item col-md-6"> <label for="goal-stats-lat"> Latitude</label> <span id="goal-stats-lat" class="float-right">----</span> </li>
                    <li class="list-group-item col-md-6"> <label for="goal-stats-long"> Longitude</label> <span id="goal-stats-long" class="float-right">----</span></li>
                </div>
                <li class="list-group-item"> <label for="goal-stats-distance"> Distance to goal</label> <span id="goal-stats-distance" class="float-right">----</span> </li>
                <li class="list-group-item"> <label for="goal-stats-rover-heading"> Recommended Rover Heading</label> <span id="goal-stats-rover-heading" class="float-right">----</span> </li>

            </ul>

        </div>

        <button type="button" id="toggle-goal-modal-btn" class="btn btn-primary" data-toggle="modal" data-target="#goal-modal"> Add Goal </button>

        <div class="modal fade" id="goal-modal">

            <div class="modal-dialog modal-lg">
                <div class="modal-content" id="goal-modal-content">
                    <div class="modal-header" id="goal-modal-header">
                        <button id="new-goal-coordinates-btn" class="btn btn-primary"> Add new coordinates</button>
                    </div>

                    <div class="modal-body" id="goal-modal-body">
                        <div id="goal-modal-body-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">

    </div>
</div>
{% endblock %}
