<launch>
  <!-- this launch file runs all nodes, currently requires venv to be deactivated -->
  <!-- this next node sends asimov urdf to param server -->
  <param name="robot_description" textfile="$(find asimov_simplified)/urdf/asimov_simplified.urdf" />
  <param name="use_gui" type="bool" value="true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <!--remap from="joint_states" to="arm_republished_joint_states" /-->
  </node>
  <!-- this next node gives control over the joints -->
  <!--node name="arm_states_republisher" pkg="asimov_simplified" type="arm_states_republisher" /-->
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">["arm_republished_joint_states"]</rosparam>
  </node-->
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" />
</launch>
