<launch>
  <!-- this launch file only runs the nodes that work with venv -->
  <!-- this next node sends asimov urdf to param server -->
  <param name="robot_description" textfile="$(find asimov_simplified)/urdf/asimov_simplified.urdf" />
  <param name="use_gui" type="bool" value="true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
