<launch>
    <node pkg="ping_acknowledgment" type="ping_response_server.py" name="ping_response_server" output="screen"/>
    <node pkg="mux_selector" type="mux_select_server.py" name="mux_select_server" output="screen"/>
    <node pkg="serial_cmd" type="serial_cmd_server.py" name="serial_cmd_server" output="screen"/>
    <node pkg="task_handler" type="task_handler_server.py" name="task_handler_server" output="screen"/>
    <node pkg="web_video_server" type="web_video_server" name="web_video_server" output="screen"/>
    <node pkg="mcu_control" type="PdsNode.py" name="PdsNode" output="screen"/>
    <node pkg="mcu_control" type="CommsNode.py" name="comms_node" output="screen"/>
    <node pkg="mcu_control" type="PowerReportNode.py" name="power_report_node" output="screen"/>
    <!-- <node pkg="odroid_rx" type="rx_publisher.py" name="rx_publisher" output="screen"/> -->

    <include file="$(find mcu_control)/launch/joy_comms_manual.launch" />
</launch>
